@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
/*************header************/
#header{
    background-color: black;
    opacity: 90%;
    position: fixed;
    top: 0px;   
    left: 0px;
    right: 0px;
    z-index: 1;
}
#main{
    margin-top: 125px;
    margin-bottom: 0px;
}
#section{
    background-color: rgba(8,10,15,255);
    margin-top: 0px;
}
html{
    background-color: rgb(214, 214, 214);
}


.header__wrapper{
    display: grid;
    grid-template-columns: 4fr 2fr repeat(2,2fr);
    grid-template-rows: minmax(auto, 100px);        
}

ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    margin-right: 0px;
    margin-left: 0px;
}
.navbar{
    display: flex;
    align-items: flex-end;
}
.nav__list-item a{
    text-decoration: none;
    color: #FFF;
    display: flex;
    justify-content: center;
}
.header__logo-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__logo-image img{
    width: 100px;
    height: 55px;
}
.header__search {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #FFF;
}
.header__search i{
    color: #FFF;
    margin-right: 5px;
    padding-bottom: 18px;
}
.header__selection{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #FFF;
}
.header__selection i{
    color: #FFF;
    margin-right: 5px;
    padding-bottom: 18px;
}

/***********main************/

.main__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 20px; 
}
.main__wrapper-watches{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    /* grid-template-rows: minmax(auto, 300px); */
}
.main__wrapper-watches:first-child video{
    width: 100%;
    grid-column: 1/-1;
}
.main__wrapper-watches img{
    width: 100%;
    
}
/* .main__wrapper-image{
    width: 100%;    
} */

.main__wrapper-background{
   background-image: url("https://content.rolex.com/dam/2020/bg/model-main-feature-background-everose.jpg?impolicy=v6-model-feature&c1path=/dam/2020/harmonised/dial-raw-with-colored-shadow/50764_g_28.png&sc1=1.56&c1x=-1074&c1y=-499&imwidth=1920");

    background-size: cover;
}
.main__wrapper-background--text{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    margin-bottom: 250px;
}
.main__wrapper-background--text h3{
    font-family: 'Baskervville', serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
}
.main__wrapper-background--text h4{
    font-family: 'Baskervville', serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 15px;
    font-weight: lighter;
}
.main__wrapper-background--text p{
    font-family: 'Baskervville', serif;
    width: 450px;
    line-height: 1.5;
}
.main__wrapper-diamond{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.main__wrapper-diamond video{
    width: 100%;
}
.main__wrapper-diamond img{
    width: 100%;
}
.main__wrapper-pearlmaster img{
  width: 100%;
}
.main__wrapper-contact{
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main__wrapper-contact h3{
    width: 450px;
    font-family: 'Baskervville', serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
}
.main__wrapper-contact a{
    width: 450px;
    font-family: 'Baskervville', serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 15px;
    font-weight: lighter;
    color: rgb(10, 85, 10);
    text-decoration: none;
}
.main__wrapper-contact a:hover{
    color: rgb(100, 124, 100);
}
.main__wrapper-contact p{
    width: 450px;
    font-family: 'Baskervville', serif;
    line-height: 1.5;
}
.main__wrapper-lady--datejust{
    grid-column: 1/-1;
}
.main__wrapper-lady--datejust video{
    width: 100%;
}
.main__wrapper-oyster{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: minmax(200px, auto);
    grid-gap: 10px;
}
.main__wrapper-oyster img{
    width: 100%;
}
#oyster{
    grid-row: 1/3;
}
.main__wrapper-background--oyster{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main__wrapper-oyster--text h3{
    font-family: 'Baskervville', serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
    color:rgb(75, 20, 3);
}
.main__wrapper-oyster--text p{
    font-family: 'Baskervville', serif;
    width: 450px;
    line-height: 1.5;
    color:rgb(75, 20, 3);
    opacity: 70%;
}
hr{
    color:rgb(75, 20, 3);
   
}
.main__transparent{
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: flex;
}
.main__transparent img{
    width: 100%;
    height: 50px;
    margin: 0px;
    padding: 0px
}
.section__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 20px;    
    margin-top: 0px;  
}
.section__wrapper-sea--dweller{
    grid-column: 1/-1;
}
.section__wrapper-sea--dweller video{
    width: 100%;
}
.sea--dweller-description{
    color: #FFF;
    position: relative;
    top: 300px;
    width: 90vw;
   
}
.sea--dweller-description h2{
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 50px;
    font-weight: lighter;
}
.sea--dweller-description p{
    text-align: center;
    font-family: 'Baskervville', serif;
    opacity: 90%;
    font-size: 30px;
    text-transform: uppercase;
}
.section__wrapper-sea-dweller{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.section__wrapper-sea-dweller img{
    width: 100%;
}
#sea-dweller{
    width: 100%;
    grid-row: 1/3;
}
.main__wrapper-watches-black{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.main__wrapper-watches-black img{
    width: 100%;
}
.main__wrapper-rolex{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.main__wrapper-rolex img{
    width: 100%;
}
.main__wrapper-rolex video{
    width: 100%;
}
.main__wrapper-rolex-description{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
}
.main__wrapper-rolex-description h2{
    font-family: 'Baskervville', serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
    width: 450px;
}
.main__wrapper-rolex-description p{
    font-family: 'Baskervville', serif;
    width: 450px;
    line-height: 3;
    font-size: 15px;
}

/*****************footer************/


.footerwrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: black;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
}
.footerwrapper-content{
    margin-left: 50px;
    flex-grow: 1;
 
}
.footerwrapper-content a{
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 13px;
}
.footerwrapper-content a:hover{
    text-decoration: underline;
}
.footerwrapper-invite{
    text-align: center;
}
.footerwrapper-invite p{
    color: #FFF;
    opacity: 50%;
}
.footerwrapper-invite a{
    color: #FFF;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 13px;
    letter-spacing: 2px;

}
.footerwrapper-invite a:hover{
    text-decoration: underline;
}
.footerwrapper-invite i{
    color: #FFF;
    font-size: 13px;
    margin-left: 5px;
}
.footerwrapper-icon--net{
    margin-top: 25px;
}
.footerwrapper-icon--net i{
    color: #FFF;
    font-size:  20px;
}
.footerwrapper-icon--net{
    display: grid;
    grid-template-columns: repeat(5, 30px);
}
.footerwrapper-icon--image img{
    width: 100px;
    height: 55px;   
}

@media screen and (max-width: 1000px){
    .main__wrapper{
        grid-template-columns: 1fr;
    }
    .section__wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin: 20px;    
        margin-top: 0px;  
    }
    .footerwrapper{
        display: grid;
        grid-template-columns: 1fr;
        background-color: black;
        padding-left: 50px;
        padding-right: 50px;
        align-items: center;
    }
}
@media screen and (max-width: 1125px){
    .header__search p{
        display: none;
    }
    .header__selection p{
        display: none;
    }
    .nav__list-item a{
      font-size: 15px;
    }
}
@media screen and (max-width: 1090px){
    ul{
        display: grid;
        grid-template-columns: 1fr;
        list-style-type: none;
        margin-right: 0px;
        margin-left: 0px;
    }
    ul{
        display: grid;
        grid-template-columns: 1fr;
        list-style-type: none;
        margin-right: 0px;
        margin-left: 0px;
    }
}